.body{
    width:100vw;
    height:100vh;
    font-family: "IBM Plex Sans";
    position: relative;
   
}

.center-search {
    width: 22.5rem;
    height: 2.625rem;
    margin: auto;
    color: #5C5C5C;

}
.search-bar{
    background: #F2F2F2;
    border-radius: 50px;

}
.navbar{
    padding-left: 0.9375rem;
padding-right: 0.9375rem;
position: fixed;
top:0;
left: 0;
right: 0;
z-index: 9;
}
.account{
    width: 11.4375rem; 
    height: 1.3125rem; 
   
}
.hero-section{
    background-image: url(./assets/Rectangle\ 2.png);
    width:100%;
    height: 27.5rem;
    position: relative;
   
}
.hero-text{
    
     position:absolute;
     left: 13.125rem;
     top: 17.5rem;
    color: #FFF;
font-family: "IBM Plex Sans";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.hero-text2{
   
    position:absolute;
    color: #FFF;
font-family: "IBM Plex Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
left: 13.125rem;
top: 20rem;


}
.hero-content{
    display:flex;
    height: auto;
    margin-top: 1rem;
    
}
.articles{
    width:70%;
    display:flex;
    flex-direction: column;
    gap:5px;
    height:auto;
    
}
.hero-container{
    width:70%; 
    height:auto;
    padding: 0.625rem;
   

  
}
.main-box{
    width:100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
   
}
.nav2{
    display: flex;
    justify-content: space-around;
  

}
.nav2 div{
    width:50%;
}
.card{
    width:85%;
   max-width:40rem;
}
.nav2 a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
a{
    text-decoration: none;
}
.articles h5{
    color: #000;

/* font-family: "IBM Plex Sans"; */
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 134.167%;
}
.articles h6{
    color: #000;

/* font-family: "IBM Plex Sans"; */
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.articles p{
    color: #5C5C5C;
/* font-family: "IBM Plex Sans"; */
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 134.167%;
}
.signup-page{
    /* position: absolute;
    top: 50%;
    left: 50%; */
   
    transform: translate(-50%, -50%);
    width: 50%; 
    height: 70%;
    padding: 20px; 
    background-color:white;
    flex:2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999; 
    transition: opacity 0.3s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.account-container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap:nowrap;

    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
    z-index: 997; 

}
.form-row{
   
height: 46px;
flex-shrink: 0;
border-radius: 2px 2px 0px 0px;
border: 1px solid #D9D9DB;
 padding-left: 1rem;
background: #F7F8FA;
}
.button{
    
    height: 46px;
    border-radius: 20px;
   background: #2F6CE5;
 border:none;
 margin-top:8px;
 color: #FFF;

text-align: center;
font-family: "IBM Plex Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px;

}
.form-div{
    color: #000;
font-family: "IBM Plex Sans";

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; 
width: 320px;
height: 46px;
flex-shrink: 0;
border-radius: 2px 2px 0px 0px;
border: 1px solid white;

 padding-left: 1rem;
 display: flex;
 justify-content: center;
 align-items: center;
 gap:5px;
 border-radius: 2px;
border: 0.6px solid #D9D9DB;
margin-top: 8px;
background: #FFF;

}
.cross{
    width: 28px;
height: 28px;
flex-shrink: 0;
color:transparent;
border-radius: 50%;
position:absolute;
top:-35px;
left:98%;
/* background-color:rgba(255, 255, 255, 1); */
}
.cross path{
background-color:rgba(255, 255, 255, 1);

}
.form-img-box{
    width:55%;
    height:auto;
    flex:1;
}
@media (max-width: 1140px) {
   
    .signup-page{
        display:flex;
        flex-direction:column-reverse;
        height:80vh;
        align-items: center;
        padding-left:5rem;

        
    }
    .form-div {

    width:100%;
   flex: 2;
    order:2;

        
    }
    .form-img-box{
        /* width:100%;
        order:1;
        flex: 1; */
        display: none;

    }
}

.signup-text{
    color: #000;
/* font-family: "IBM Plex Sans"; */
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 2rem;
}
.account-container2{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap:nowrap;

    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
    z-index: 997; 

}
.div2{
    color: #000;
 display:flex;
 justify-content:end;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.5;
width:90%;
margin-bottom:1rem;
}
.div1{
    width:90%;
    /* background-color: aqua; */
    display: flex;
    gap: 2rem;
    justify-content: start;
}

.follow{
    color: #000;
    padding: 0.3rem;
    height: 28px;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 14px;
background: #EDEEF0;
cursor: pointer;
}
.followed {
    background-color: black;
    color: white;
}



.recommand{
    color: #000;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.4px;
text-transform: uppercase;
}
.name-text{
    color: #000;


font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.box{
    display: flex;
    justify-content: space-between;
    
    /* width:250px; */
    width:99%;
    
}
.div3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    width:90%;
height: 252px;
}
.div3 div{
    margin-top:1rem;
}
.see{
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    width:90%;
}
.see a{
    text-decoration: none;
}
.user{
   display: flex;
   flex-direction: column;
   align-items: end;
   gap:0.3rem;
   /* background-color: #2F6CE5; */
   height: auto;
}
.nav-link:focus {
    text-decoration: underline; /* Add underline to active link */
}
.nav-link {
    text-decoration: none; /* Remove default underline */
    color: black; /* Set default text color */
}

.dropdown .btn{
    display: none ;
    background-color: #F1F3F5;
}


@media (max-width: 430px){
   body{
    overflow-x: hidden;
   }
    .user{
    display:none;
  }
  .nav2{
    display: none;
  }
  .small-nav{
    display: flex;
    justify-content: end;
    padding:1rem;
    /* height:24px; */
    width:100vw;
    fill: #F8F9FA;
    align-items: center;
  }
  .navbar{
    display:none;
  }
  .articles{
    width:100%;
    padding:0;
  }
  .card{
    width:100%;
  }
  .hero-content{
    width:93vw;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .main-box{
    align-items: start;
  }
  .hero-section{
    /* background-size: contain; */
    background-image: url(./assets/Rectangle\ 2\ \(2\).png);
    width: 360px;
height: 236px;
flex-shrink: 0;
  }
  .hero-text{
    left: 1.125rem;
    top: 9.5rem;
    font-size: 25px;
  }
  .hero-text2{
    left: 1.125rem;
    top: 12rem;
    font-size: 15px;
  }
  .join-img{
    display:block !important;
    position: absolute;
    left:14rem;
    top:1rem;

  }
  .arrow{
    display: block !important;
    position: absolute;
    top:1rem;
    left:0.5rem;

  }
  .small-nav{
    display:flex !important;
    justify-content: space-between;
  }

  .dropdown{
    display: flex;
  }
  .pen{
    display: flex !important;
    color:white;
    background: linear-gradient(180deg, #FF5C5C 0%, #F0568A 100%);
filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.08)) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.18));
   position:fixed !important;
   width:35px;
   height:35px;
   border-radius: 50%;
  justify-content: center;
  align-items: center;
   top: 40rem;
    left: 16rem;
  }
  .signup-page{
    width: 84%;
height: 462px;
margin:0px;
padding:0px 0.2px 0px 0.2px;
  }
  .form-div{
    padding:0px;
    margin-bottom:0px;

  }
  .form-row{
    width:75%;
  }
  .account-container{
    height:130vh;
  }
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }




}